name: build(deps)

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
    paths:
      - 'Dockerfile'
  push:
    branches:
      - master
    paths:
      - 'Dockerfile'
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.runner }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - arch: loong64
            platform: loongarch64
            runner: ubuntu-24.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push base image
        uses: docker/build-push-action@v6
        with:
          platforms: linux/${{ matrix.arch }}
          push: true
          build-args: |
            RUNNER_ARCH
          tags: |
            ghcr.io/${{ github.repository }}:build-linux-${{ matrix.platform }}
          outputs: type=image,oci-mediatypes=true,compression=zstd,compression-level=3,force-compression=true
          cache-from: ghcr.io/${{ github.repository }}:build-linux-${{ matrix.platform }}
